<div class="browse-page">
  <app-header></app-header>
  <div class="banner">
    <img class="" src="" alt="" />
    <div class="banner-movie-info">
      <div>
        <h4>Title</h4>
        <p>Movie Description</p>
      </div>
      <div>
        <button type="button">Play</button>
        <button type="button">More Info</button>
      </div>
    </div>
  </div>
  <div class="movie-categories">
    <movie-category [title]="'Trending'"></movie-category>
    <movie-category></movie-category>
  </div>
</div>
